body {
    color: rgb(18, 215, 230);
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .logo {
    border-top: 4px solid #648880;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0 22px 0;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: gray;
    font-style: italic;
    font-weight: 700;
  }
  nav p {
    font-size: 26px;
  }    
  nav a:hover {
    color: blue;
      }
      nav {
        text-align: right;
        margin-top: 30px;
        font-size: 20px;
      }
      h1 a{
        font-size: larger;
        font-weight: lighter;
        font-style: italic;
        color: darkgreen;
    }
    h1 a:hover {
        color: blue
    }
      .container {
        margin: 0 135px;
      }
      .container_2 {
        margin-top:120px;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
  }
  .container_2 h1{
      font-size: 60px;
      font-weight: 300;
  }
  .container_2 p {
    font-size: 25px;
    font-weight: 500;
    line-height: 2;
  }
  /*
  ========================================
  Buttons
  ========================================
*/
.btn:hover {
  color: blue;
}
.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 40px 0;
  font-size: 20px;
}
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 60px;
}
.col_parent {
    margin-left:30px; 
    margin-top: 10px;
    text-align: center;
}
.col {
    display: inline-block;
    width: 25%;
    margin: 30px;
}  
 .col a {
     display: block;
     margin-bottom: 10px;
     text-align: left;
      text-transform: uppercase;
   }
   .col p{
     text-align: left;
     font-size: 20px;
   }
   .col a:hover{
     color: blue;
   }
  .hero {
    margin: 0 135px 30px 40px;
}
nav small{
  float: left;
}
